Personal_skills/PersonSkills.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.ttu.ee/idu0075/2016/ws/order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orders"
  targetNamespace="http://www.ttu.ee/idu0075/2016/ws/order">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ttu.ee/idu0075/2016/ws/order" elementFormDefault="qualified">
      
      <xsd:element name="addProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="price" type="xsd:int"/>
            <xsd:element name="amount" type="xsd:int"/>
            <xsd:element name="orderId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addProductResponse" type="tns:ProductType"/>
      
      <xsd:element name="updateProductRequest" type="tns:ProductType"/>
      <xsd:element name="updateProductResponse" type="tns:ProductType"/>
      
      <xsd:element name="deleteProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteProductResponse" type="xsd:string" fixed=""/>
      
      <xsd:element name="getOrdersRequest" type="xsd:string" fixed=""/>
      <xsd:element name="getOrdersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orders">
              <xsd:complexType>
                <xsd:sequence maxOccurs="unbounded">
                  <xsd:element name="order" type="tns:OrderType"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="addOrderRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="company" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="accountNr" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addOrderResponse" type="tns:OrderType"/>
      
      <xsd:element name="updateOrderRequest" type="tns:OrderType"/>
      <xsd:element name="updateOrderResponse" type="tns:OrderType"/>
      
      <xsd:element name="deleteOrderRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteOrderResponse" type="xsd:string" fixed=""/>
      
      <xsd:complexType name="ProductType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="price" type="xsd:int"/>
          <xsd:element name="amount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="OrderType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="company" type="xsd:string"/>
          <xsd:element name="address" type="xsd:string"/>
          <xsd:element name="accountNr" type="xsd:string"/>
          <xsd:element name="products">
            <xsd:complexType>
              <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="product" type="tns:ProductType"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="addProductRequest">
    <wsdl:part name="parameter" element="tns:addProductRequest" />
  </wsdl:message>
  <wsdl:message name="addProductResponse">
    <wsdl:part name="parameter" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part name="parameter" element="tns:updateProductRequest" />
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part name="parameter" element="tns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part name="parameter" element="tns:deleteProductRequest" />
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part name="parameter" element="tns:deleteProductResponse" />
  </wsdl:message>
  
  <wsdl:message name="addOrderRequest">
    <wsdl:part name="parameter" element="tns:addOrderRequest" />
  </wsdl:message>
  <wsdl:message name="addOrderResponse">
    <wsdl:part name="parameter" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="updateOrderRequest">
    <wsdl:part name="parameter" element="tns:updateOrderRequest" />
  </wsdl:message>
  <wsdl:message name="updateOrderResponse">
    <wsdl:part name="parameter" element="tns:updateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="deleteOrderRequest">
    <wsdl:part name="parameter" element="tns:deleteOrderRequest" />
  </wsdl:message>
  <wsdl:message name="deleteOrderResponse">
    <wsdl:part name="parameter" element="tns:deleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="getOrdersRequest">
    <wsdl:part name="parameter" element="tns:getOrdersRequest" />
  </wsdl:message>
  <wsdl:message name="getOrdersResponse">
    <wsdl:part name="parameter" element="tns:getOrdersResponse" />
  </wsdl:message>

  <wsdl:portType name="orders">
    <wsdl:operation name="addOrder">
      <wsdl:input message="tns:addOrderRequest" />
      <wsdl:output message="tns:addOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateOrder">
      <wsdl:input message="tns:updateOrderRequest" />
      <wsdl:output message="tns:updateOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <wsdl:input message="tns:deleteOrderRequest" />
      <wsdl:output message="tns:deleteOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input message="tns:getOrdersRequest"></wsdl:input>
      <wsdl:output message="tns:getOrdersResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="products">
    <wsdl:operation name="addProduct">
      <wsdl:input message="tns:addProductRequest"></wsdl:input>
      <wsdl:output message="tns:addProductResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input message="tns:updateProductRequest"></wsdl:input>
      <wsdl:output message="tns:updateProductResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input message="tns:deleteProductRequest" />
      <wsdl:output message="tns:deleteProductResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ordersSOAP" type="tns:orders">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addOrder">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/addOrder" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOrder">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/updateOrder" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/deleteOrder" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/getOrders" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="productsSOAP" type="tns:products">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addProduct">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/addProduct" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/updateProduct" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation
        soapAction="http://www.ttu.ee/idu0075/2016/ws/order/deleteProduct" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="orders">
    <wsdl:port name="ordersSOAP" binding="tns:ordersSOAP">
      <soap:address location="Empty" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="products">
    <wsdl:port name="productsSOAP" binding="tns:productsSOAP">
      <soap:address location="Empty" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
